<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="UserName" value="svc_devspadmin@transre.com" />
    <add key="Password" value="TRCtrc0920!" />-->
    <add key="UserName" value="svc_devspadmin@transre.com" />
    <add key="Password" value="TRCtrc0920!" />
    <add key="Domain" value="transre.com" />
    <add key="UserNameSP2010" value="nkhandelwal" />
    <add key="PasswordSP2010" value="TransRe@120" />
    <!--<add key="UserNameSP2010" value="fmuhammad" />
    <add key="PasswordSP2010" value="TRCtmp18" />-->
    <add key="DomainSP2010" value="Transre" />
    <add key="IsOffice365" value="True" />
    <add key="DBConnectionString" value="Host=devprimarydb;Service=1536;Server=informixdb; User ID=jaguar; password=Ziplock2;Database=tirs; Protocol=onsoctcp;" />
    <!--<add key="DBConnectionString" value="Host=secondarydb;Service=1536;Server=informixdb; User ID=jaguar; password=Ziplock2;Database=tirs; Protocol=onsoctcp;" />-->
    <!--<add key="DBConnectionString" value="Host=usertestdb;Service=1536;Server=informixdb; User ID=ttester; password=Trc2019!;Database=tirs; Protocol=onsoctcp;" />-->
    <add key="BaseSiteUrl" value="http://dmsdev.transre.com" />
    <!--https://transre.sharepoint.com-->
    <add key="BaseSiteUrlSP2010" value="http://dmsdev.transre.com/cab/sc001/" />
    <!--http://dmsdev.transre.com/cab/sc001/-->
    <add key="RootSiteCollection" value="http://dmsdev.transre.com/cab/sc001/" />
    <add key="SharePointSiteAddress" value="https://transre.sharepoint.com/sites/DMSdev/" />
    <add key="ELMSite" value="teas" />
    <add key="ELMSourceLibraryName" value="Lib001" />
    <add key="CommonSiteName" value="00" />
    <add key="MaxAttemptsForUpload" value="3" />
    <add key="DelayTimeInMinutesForNextAttempt" value="5" />
    <add key="MaxiFileSizeToUploadInMB" value="100" />
    <add key="FileChunkSizeInMB" value="50" />
    <add key="ELMCompletedStatusCode" value="20" />
    <add key="TerminateAllowance" value="15" />
    <add key="TerminateFileDirectory" value="\\devwow01\Log\SPDMS2016TerminateDir\" />
    <!-- Value = 1 (Reset the status so that DMS program process these again), Value = 0 (Skip reset status portion) -->
    <add key="ResetFailedRecordsInDMS" value="0" />
    <add key="NewDMSProgramStartDate" value="'2019-02-18 09:13:11.00000'" />
    <add key="ProcessFailedRecordsAfterMinutes" value="300" />

    <!--Modes: PROD, DEV, TEST-->
    <add key="Environment" value="DEV" />
    <!--Modes: ELM, DMS, Both, MIGRATION, TEASMIGRATION-->
    <add key="ProcessFileMode" value="DMS" />
    <!--Library Names-->
    <add key="LibAccounting" value="ACC" />
    <add key="LibSubmission" value="UW" />
    <add key="LibUnderwriting" value="UW" />
    <add key="LibClaims" value="CLM" />
    <add key="LibCash" value="CASH" />
    <add key="LibCollection" value="COLL" />
    <add key="LibUSU" value="USU" />
    <add key="LibPBuyer" value="PB" />
    <add key="LibOther" value="OTH" />
    <add key="CT_DMS_GUID" value="0x0120D52000C98E17DD4A2A4C4C8E682D40A54F5DBE" />
    <!--Logging-->
    <add key="LogEntries" value="YES" />
    <add key="LogDir" value="\\devwow01\Log\" />
    <add key="Migration_LogDir" value="\\njfile\spdms$\TEST\SPDMSMigration\DMSLogs\WorkInstance11\" />
    <add key="ArchiveFolderPath" value="\\nyfile\tirsdms$\Test\SPDMSArchive\DMSDocs\" />
    <add key="TempFolderPath" value="\\njfile\spdms$\TEST\SPDMSMigration\TempFolderPath\" />
    <add key="ELMFolderPath" value="\\devwow12\sharedCode\FileCopy\ELM\" />
    <add key="LargeFileUploadTempPath" value="\\DEVWOW01\Log\LargeFileUploadTempPath\" />
    <!--FOR TEST PROGRAM-->
    <add key="FileLocation" value="\\devwow12\sharedCode\AsadCode\Files\" />
    <!--FOR TEST PROGRAM-->
    <add key="ELMProcessMigrationFolders" value="('ERECASSUB', 'PROFLIAB', 'PROUNDERSUBMISSIONS', 'ERECHIPROPSUB', 'ERETORCASSUB', 'ERETORPROPSUB', 'FACTOR')" />
    <add key="ELMProcessModeCutOffDateTime" value="'2013-10-23 00:00:00.00000'" />
    <add key="DMSKeyWord" value="DMS" />
    <add key="WebTemplate" value="STS#0" />
    <add key="FileSizeToleranceLimitPCT" value="10" />
    <add key="Migration_ReportingOffice" value="" />
    <add key="TestDocumentNumber" value="62315275" />
    <add key="Migration_UserDept" value="" />
    <!--'CLAIMS','UNDERWRITING','ACCOUNTING','CASH','USU','PBUYER','COLLECTION','SUBMISSION'-->
    <add key="Migration_Work_SpDocument" value="work_spdocuments011" />
    <add key="Migration_TargetSite" value="https://transre.sharepoint.com/sites/DMSTest/clm01" />
    <add key="Migration_TargetDocumentLibrary" value="Lib001" />
    <add key="TestDocumentsToBeProcessed" value="62315275" />
    <add key="TestElmDocumentsToBeProcessed" value="'TEAS000000000397565'" />
    <!--'TEAS000000000554353','TEAS000000000554354','TEAS000000000554358','TEAS000000000554359','TEAS000000000554360','TEAS000000000554361','TEAS000000000554362','TEAS000000000554363','TEAS000000000554364','TEAS000000000554365'-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="LocalShareBackupDirectory" value="BackUp" />
    <!--Modes: Online, 2010, 2013-->
    <add key="DMSUploadToSharePoint" value="2010" />
    <add key="DMSUploadToSharePointLibraryName" value="Lib001" />
    <add key="ContentTypeName" value="CustomDocSet" />
    <!--CustomDocSet-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Search" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.UserProfiles" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" culture="neutral" publicKeyToken="71e9bce111e9429c" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.0.0" newVersion="16.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" culture="neutral" publicKeyToken="71e9bce111e9429c" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>